<div  *ngIf="inTransit" class="card absolute flex justify-content-center w-screen h-screen z-5 align-items-center bg-transparent">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" animationDuration=".5s"></p-progressSpinner>
</div>

<div *ngIf="allGroupsArray != null" class="tables flex gap-5 m-auto flex-wrap justify-content-around">
    <p-card *ngFor="let group of allGroupsArray; let i = index;" class=" p-0">
        <p-table
          class="groupTable justify-content-center flex align-content-center text-center"
          [value]="group"
          [ngClass]="darkMode ? applyTableBorder(i) : null"
          [tableStyle]="{'min-width': '50rem'}"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">Played</th>
                    <th class="text-center">Win</th>
                    <th class="text-center">Draw</th>
                    <th class="text-center">Loss</th>
                    <th class="text-center">Goals</th>
                    <th class="text-center">Points</th>
                    <th class="text-center">Form</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-team *ngFor="let team of group; let j = index">
                <tr class="text-center">
                    <td class="flex justify-content-start align-content-center text-center flex-wrap">
                        <img src="assets/main/images/flagsPNG/{{ team.name.split(' ').join('') }}.png" class="" style="width:51px"/>
                        <span class="flex align-items-center ml-3">{{ team.name }}</span></td>
                    <td class="text-center">3 </td>
                    <td class="text-center">{{ team.win }}</td>
                    <td class="text-center">{{ team.draw }}</td>
                    <td class="text-center">{{ team.loss }}</td>
                    <td class="text-center">{{ team.goalsScored - team.goalsLost }}</td>
                    <td class="text-center">
                    <p-badge value="{{ team.points }}" size="large" severity="warning"></p-badge>
                    </td>
                    <td class="">

                        <p-tag *ngIf="darkMode" class="flex justify-content-center w-12" size="large" [severity]="success">
                            <svg  class="teamForm-UP-dark" xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path d="M160 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h50.7L9.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L256 109.3V160c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H160zM576 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM448 208a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM400 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm128 0a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM272 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM144 512a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM576 336a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm-48-80a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>
                        </p-tag>
                        <p-tag *ngIf="!darkMode"  class="flex justify-content-center w-12" [severity]="success">
                            <svg class="teamForm-UP-light" xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path d="M160 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h50.7L9.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L256 109.3V160c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H160zM576 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM448 208a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM400 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm128 0a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM272 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM144 512a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM576 336a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm-48-80a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>
                        </p-tag>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary" pStyleClass=".tableColor-{{i}}" id="hello">
                <div class="flex align-items-center justify-content-between">
                    {{ group[2].groupName }}
                </div>
            </ng-template>
        </p-table>
    </p-card>
</div>
