<p-card  header="Rules" >
    <h3 class="text-xl font-bold">General info</h3>
    <p class="text-xl">
        This application draws inspiration from popular gambling services (William Hill or Ladbrokes), only instead of money we play for points. The winner will receive the title of 2024 tipster of the year (and who knows, maybe a prize).
    </p>
    <p class="text-xl">
        Your password is fully protected by SHA-256 (Secure Hash Algorithm 256) which is impossible to hack. However, currently we do not offer a password recovery so please remember your password.
    </p>
    <p class="text-xl border-solid border-orange-400 px-2 py-2">
        For your convenience, times of all matches are presented in your local time (the time of your operating system) wherever you are in the world. Those of you using VPN may consider disabling it or setting it to your current location for the time of the tournament.
    </p>
    <h3 class="text-xl font-bold">How to play?</h3>
    <p class="text-xl">
        Build your bet slip ->
        <i class="pi pi-file mr-4 p-text-secondary"  pBadge style="font-size: 2rem" value="9"></i>
        by adding your predictions for selected matches to it. You can add as many predictions to the slip as you wish.
    </p>
    <p class="text-xl">
        Visit your slip in order to submit your predictions.
    </p>
    <p class="text-xl">
        Your predictions must be submitted before the start of each game. Fixtures will be automatically removed after the kick off of each of them.
    </p>
    <p class="text-xl">
        Submitted predictions can be amended up to 1 hour before the start of each match.
    </p>

    <p class="text-xl">
        <h3 class="text-xl font-bold">Points</h3>

        <p class="text-xl">Points are awarded based on the following scoring system:</p>
        <ul>
            <li>
                <p class="text-xl">3 points for a correct result (i.e. home/away/draw)</p>
            </li>
            <li>
                <p class="text-xl">1 point for correct home team goals</p>
            </li>
            <li>
                <p class="text-xl">1 point for correct away team goals</p>
            </li>
            <li>
                <p class="text-xl">If you get the score line spot on, you’ll get all of the above (3 + 1 + 1 = 5 points)</p>
            </li>
        </ul>

        <h3 class="text-xl font-bold">Boosters</h3>

        <p class="text-xl">Everyone gets three “Boosters” which they can choose to use on three fixtures of their choice.  This will double the points scored for that fixture.</p>
        <p class="text-xl mt-6">The player who collects the most points at the end of the game wins.</p>
        <p class="text-xl">Good luck!</p>

</p-card>
