<p-card  header="Rules" >
    <p class="text-2xl">
        This application draws inspiration from popular gambling services (William Hill or Ladbrokes), only instead of money we play for points, although there may be a cash prize at the end of the game.
    </p>
    <h3 class="text-xl font-bold">How to play?</h3>
    <p class="text-2xl">
        Build your bet slip by adding your predictions for selected matches to it. You can add as many predictions to the slip as you wish.
    </p>
    <p class="text-2xl">
        Visit your slip in order to submit your predictions.
    </p>
    <p class="text-2xl">

        <p class="text-2xl">Points are awarded based on the following scoring system:</p>
        <ul>
            <li>
                <p class="text-2xl">3 points for a correct result (i.e. home/away/draw)</p>
            </li>
            <li>
                <p class="text-2xl">1 point for correct home team goals</p>
            </li>
            <li>
                <p class="text-2xl">1 point for correct away team goals</p>
            </li>
            <li>
                <p class="text-2xl">If you get the score line spot on, you’ll get all of the above (3 + 1 + 1 = 5 points)</p>
            </li>
        </ul>

        <p class="text-2xl">Everyone gets three “Boosters” which they can elect to use on three fixtures of their choice.  This wlil double the points scored for that fixture.</p>
        <p class="text-2xl">The player who collects the most points at the end of the game wins.</p>
        <p class="text-2xl">Good luck!</p>

</p-card>
