.colonDivider {
    margin-top: -15px;
}
.card {
    width: 50rem;
}
.narrow {
    margin-top: -25px;
    margin-bottom: -35px;
}
:host ::ng-deep  .myChipDark {
    border: 1px solid var(--primary-500) !important;
    background: var(--blue-900) !important;
    padding-right: 0px !important;
}
:host ::ng-deep  .myChipLight {
    border: 1px solid var(--blue-100) !important;
    background: var(--blue-100) !important;
    padding-right: 0px !important;
}
:host ::ng-deep .p-panel .p-panel-content {
    padding: 0 !important;
}

.bottomPanel {
    margin-bottom: -10px;
}
div#allgmaes:not(:has(.card)) {
    display: none;
}

