

    <p-card class="cardChart"  header="Knockout stage">

        <div>
            <p-organizationChart class="orgChart shadow-3" [value]="dataSet">
                <ng-template let-node pTemplate="koStage" class="shadow-3">
                    <div class="p-2 text-center">
                        <div class="flex align-items-center justify-content-between koTeam">
                            <div class="flex align-items-center" [class]="{ 'opacity-50' : node.data.awayTeam.goals > node.data.homeTeam.goals }">
                                <img
                                  *ngIf="node.data.homeTeam.isConfirmed"
                                  src="assets/main/images/flagsPNG/{{ node.data.homeTeam.name.split(' ').join('') }}.png"
                                  [class]="{ 'largeFlag': node.data.awayTeam.flagSize == 'large' , 'mediumFlag': node.data.awayTeam.flagSize == 'medium' , 'smallFlag': node.data.awayTeam.flagSize == null }"
                                />

                                <span [ngClass]="{ 'line-through' : node.data.awayTeam.goals > node.data.homeTeam.goals }" class="ml-2 {{node.data.textSize}}" >{{ node.data.homeTeam.name }}</span>
                                <!-- <p-tag severity="success" ><span class="ml-2 {{node.data.textSize}}">Czech Republic</span></p-tag> -->
                            </div>
                            <div class=" relative">
                                <div class="scoreBox pb-1 ml-2 text-xl border-solid h-2rem border-round">{{ node.data.homeTeam.goals }}</div>
                                <span *ngIf="node.data.awayTeam.winsAfterPenalties && node.data.awayTeam.goals < node.data.homeTeam.goals " class="text-5xl absolute font-bold ml-1 asterisks text-red-400" pTooltip="Wins after penalty shootout">&#x2a;</span>
                            </div>
                        </div>
                        <p-divider class="KoDivider" align="center">
                            <b class="text-sm">VS</b>
                        </p-divider>
                        <div class="flex align-items-center justify-content-between koTeam">
                            <div class="flex align-items-center" [class]="{ 'opacity-50' : node.data.awayTeam.goals < node.data.homeTeam.goals }">
                                <img
                                  *ngIf="node.data.awayTeam.isConfirmed"
                                  src="assets/main/images/flagsPNG/{{ node.data.awayTeam.name.split(' ').join('') }}.png"
                                  [class]="{ 'largeFlag': node.data.awayTeam.flagSize == 'large' , 'mediumFlag': node.data.awayTeam.flagSize == 'medium' , 'smallFlag': node.data.awayTeam.flagSize == null }"
                                />
                               <span  [ngClass]="{ 'line-through' : node.data.awayTeam.goals < node.data.homeTeam.goals }" class="ml-2 {{node.data.textSize}}">{{ node.data.awayTeam.name }}</span>
                               <!-- <p-tag severity="danger" > <span class="ml-2 {{node.data.textSize}}">{{ node.data.awayTeam.name }}</span></p-tag> -->
                            </div>
                            <div class=" relative">
                                <div class="scoreBox pb-1 ml-2 text-xl border-solid h-2rem border-round">{{ node.data.awayTeam.goals }}</div>
                                <span *ngIf="node.data.awayTeam.winsAfterPenalties && node.data.awayTeam.goals > node.data.homeTeam.goals " class="text-5xl absolute font-bold ml-1 asterisks text-red-400" pTooltip="Wins after penalty shootout">&#x2a;</span>
                            </div>

                        </div>

                    </div>
                </ng-template>

                <!-- <ng-template let-node2 *ngFor="let node2 of dataSet; let i = index;" rowIndex="rowIndex" pTemplate="semiFinal">
                    <div class="p-2 text-center">
                        <div class="flex align-items-center justify-content-between koTeam">
                            <div class="flex align-items-center">
                                <img *ngIf="node.data.semihomeTeam.isConfirmed" src="assets/main/images/flagsPNG/{{ node.data.semihomeTeam.name }}.png" class="" style="width:31px"/>
                                <span class="ml-3 " >{{ node2.children[i].data.semihomeTeam.name }}</span>
                            </div>
                            <div class="px-3 py-1 ml-3 mb-1 text-xl border-solid h-3rem border-round">{{ node.data.semihomeTeam.goals }}</div>
                        </div>
                        <p-divider class="KoDivider" align="center">
                            <b>VS</b>
                        </p-divider>
                        <div class="flex align-items-center justify-content-between koTeam">
                            <div class="flex align-items-center">
                                <img *ngIf="node.data.semiawayTeam.isConfirmed" src="assets/main/images/flagsPNG/{{ node.data.semiawayTeam.name }}.png" class="" style="width:31px"/>
                                <span class="ml-3 ">{{ node.data.semiawayTeam.name }}</span>
                            </div>
                            <div class="px-3 py-1 ml-3 mb-1 text-xl border-solid h-3rem border-round">{{ node.data.semiawayTeam.goals }}</div>
                        </div>
                    </div>
                </ng-template> -->
            </p-organizationChart>
        </div>

    </p-card>

    <!-- <p-card>
        <button
            pButton
            label="Assign round of 16"
            raised="true"
            class="ml-3 p-button-info"
            (click)="assignRoundOf16()"
            ></button
        >
    </p-card> -->
