.knockout, .cardChart {
    // height: calc(100vh - 9rem);
    display: flex;
    flex-direction: column;
}

:host ::ng-deep .p-organizationchart-node-content {
    padding: 10px;
    border-radius: 5px;
}
:host ::ng-deep p-card .p-card-content {
    justify-content: center;
    display: flex;
    // margin-top: 10%;
}
:host ::ng-deep p-card .p-organizationchart-node-content {
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: none;
}

.KoDivider {
    margin-top: -15px;
    margin-bottom: -15px;
}
.koTeam {
    margin: -15px;
}
.scoreBox {
    width: 25px;
}
.largeFlag {
    width: 51px;
}
.mediumFlag {
    width: 41px;
}
.smallFlag {
    width: 31px;
}
.asterisks {
    top: -19px;
    right: -18px;
}
