<div class="layout-topbar">


    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <div class="flex justify-content-evenly w-full">
        <span *ngIf="username != null && username != '' " class=" align-content-center flex-wrap flex">Hi, {{ presentableUsername }}</span>
        <span class="justify-content-center flex">
            <i class="pi pi-file mr-4 p-text-secondary cursor-pointer" [ngClass]="{'zoomin': slipItems.length == 1}"  (click)="openSlipDialog()" pBadge style="font-size: 2rem" value="{{ slipItems.length }}"></i>
        </span>
    </div>
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" (click)="logout()">
            <i class="pi pi-sign-out"></i>
            <span>Sign out</span>
        </button>
    </div>
</div>

<!-- <form [formGroup]="slipForm"> -->
    <p-dialog
    [(visible)]="slipDialog"
    [style]="{ 'min-width': '450px', 'max-width': '600px'}"
    header="Your fixtures to submit"
    [modal]="true"
    class="p-fluid shadow-4"
    >
        <ng-template  pTemplate>
            <p-table [value]="slipItems" selectionMode="single" header="Your fixtures to submit"  [paginator]="slipItems.length > 5 ? true : false" [rows]="5" responsiveLayout="scroll">
                <div>Your fixtures to submit</div>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width:12rem" >Match</th>
                        <th style="min-width:5rem">Score</th>
                        <th *ngIf="(boosters > 0 && boosters < 4) || shouldShowBoostersColumn || slipWaitingToBeSubmitted" style="min-width:3rem">Booster</th>
                        <th style="min-width:8rem" class="flex justify-content-center">Remove</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-slipItem let-rowIndex="rowIndex" $index *ngFor="let k of slipItems">
                    <tr class="fixtures">
                        <td>{{ slipItem.homeTeam.name }} - {{ slipItem.awayTeam.name }}</td>
                        <td>{{ slipItem.homeTeam.goals }} : {{ slipItem.awayTeam.goals }}</td>
                        <td *ngIf="(boosters > 0 && boosters < 4) || shouldShowBoostersColumn || slipWaitingToBeSubmitted" class="">
                            <p-inputSwitch
                              id="k-{{rowIndex}}"
                              [(ngModel)]="slipItems_Copy[rowIndex].double"
                              [disabled]="!slipItems_Copy[rowIndex].double && allBoostersUsed"
                              (onChange)="boosterTriggered(slipItem.gameId)"></p-inputSwitch
                            >
                        </td>
                        <td class="flex justify-content-center">
                            <!-- <button pButton pRipple icon="pi pi-star" class="p-button-rounded p-button-success mr-2 h-2rem w-2rem" (click)="useBooster(slipItem.gameId)"></button> -->
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning h-3rem w-3rem" (click)="deleteGame(slipItem.gameId, rowIndex)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="closeDialog()"></button>
            <p-button type="submit" label="Submit" [loading]="inTransit"  (click)="onSubmit()"></p-button>
        </ng-template>
        <p-messages [value]="msgs"></p-messages>
    </p-dialog>
<!-- </form> -->





<p-toast class="submitPredictionsSuccessToast" position="bottom-center" key="bc"></p-toast>
