.row-1 {
    font-size: 22px;

}
.row-2 {
    font-size: 20px;
}
.row-3 {
    font-size: 18px;
}
.leaderBoard {
    min-height: 80vh;
}
:host ::ng-deep .p-tag-value {
    font-size: 16px !important;
}
:host ::ng-deep .alignMyPosition {
    padding-bottom: 21px !important;
}
