/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/main/styles/flags/flags.css";
@import "assets/main/styles/badges.scss";
@import "assets/main/styles/code.scss";


.hiddenElement {
    display: none;
}
.blockElement {
    display: block;
}
.errorMessageUsername, .errorMessagePassword {
    margin-top: -25px;
}
.colonDivider {
    text-align: center;
}

.username {
    text-wrap: nowrap;
}
.fixtures {
    font-size: 16px;
}
// .zoomInBadge {
//     animation: zoom-in-zoom-out .5s ease-in;
//     // animation: zoom-in-zoom-out .5s cubic-bezier(1, 1, 0, 0);
//     position: absolute;
//     // transform: scale(1.5);
//     // transition: transform .5s;
// }
// @keyframes zoom-in-zoom-out {
//     0% {
//       transform: scale(1, 1);
//     }
//     50% {
//       transform: scale(1.5, 1.5);
//     }
//     100% {
//       transform: scale(1, 1);
//     }
//   }

.progressChart, .precision {
    min-height: 300px;
}

#GraphDropdown {
    padding: 0 !important;
}
.dataCard {
    min-height: 130px;
    height: 100%;
}
.spinnerCard {
    border: none;
}
.orgChart a {
    display: none;
}
.iconFly {
    padding: 10px;
}
.colonDividerMoD{
    margin-top:  -5px;
}
.dataCard1, .matchOfTheDay {
//     background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
//     background-size: 400% 400%;
//     background:
// radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
// radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
// radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
// radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
// radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
// radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
// linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
// background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;

background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.dataCard2 {
    // background-color: #0093E9;
    // background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}
.dataCard3 {
    // background-color: #85FFBD;
    // background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 50%);

}
.dataCard4 {
    // background: linear-gradient(-65deg, #ee7752, #e73c7e, #d52376, #23d5ab);
    // background-size: 400% 400%;
    // animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

:host ::ng-deep #myGraph canvas {
    max-height: 400px;
}
.globalBgLight {
    background: #e4ecf3;
}
.infoNotification {
    // fill: red;
}
:host ::ng-deep .p-speeddial-action-icon.one::before {
    content: '1' !important;
  }
